.navbar{
    color: white;
    display: flex;
    justify-content: center;
    padding: 10px;
    background-color: #2f3d46;
}
.main-1{
    background-color: rgba(202,210,197,255);
    height: 700px;
    border-radius: 4px;
}
.item-1{
    display: flex;
    flex-wrap: wrap;
    border: 1px solid black;
    height: 550px;
    width: 350px;
    position: absolute;
    top: 120px;
    left: 80px;
    border-radius: 10px;
    background-color: #353535;
}

.item-2{
    border:1px solid black ;
    height:50px ;
    width: 490px ;
    border-radius: 10px;
    background-color: #353535;
    display: flex;
    position: relative;
    left: 600px;
    top: 55px;
    color: gray;
    padding: 4px 9px;
    
}
.box-1{
    border: 1px solid black;
    
    background-color: #353535;
display: flex;
height: 150px;
width: 200px;
position: relative;
left: 500px;
top: 150px;
border-radius: 10px;


}
.box-2{
    border: 1px solid black;
    
    background-color: #353535;
display: flex;
height: 150px;
width: 200px;
position: relative;
left: 790px;
top: 0px;
border-radius: 10px;
}
.box-3{
    border: 1px solid black;
    
    background-color: #353535;
display: flex;
height: 150px;
width: 200px;
position: relative;
left: 1080px;
top: -152px;
border-radius: 10px;
}
 .item-4{
    border: 1px solid black;
    
    background-color: #353535;

height: 150px;
width: 680px;
border-radius: 10px;
display: flex;
position: relative;
left: 500px;
bottom: 60px;
color: gray;
padding: 8px;
padding-left: 9px;

 }
 .img{
    position: absolute;
    left: 19px;
    top: 11px;
    color: white;
    font-size: xx-large;
 }